<!DOCTYPE html>
<html>
    
    <head>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.5.1.min.js" type="text/javascript"></script>
    </head>

    <body>

        <div id="body">
            <section>
                
                <div>
                    <hgroup>
                        <h1>Welcome '@Model.Name' to ASP.NET Web API Razor Formatter!</h1>
                    </hgroup>
                </div>
                <p>
                    Using the same URL "api/values" but using AJAX: <button>Press to show content!</button>
                </p>
                <p>
                    
                </p>

            </section>
        </div>

    </body>
    
    <script type="text/javascript">

        $("button").click(function () {

            $.ajax({
                url: '/customers/get',
                type: "GET",
                contentType: "application/json; charset=utf-8",
                success: function(data, status, xhr)
                {
                    alert(data.Name);
                },
                error: function(xhr, status, error)
                {
                    alert(error);
                }});
            });
</script>
</html>